<a href="https://colab.research.google.com/github/ronitjain235/bajaj-finserv-/blob/main/ronitjain.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import requests


url = "https://bfhldevapigw.healthrx.co.in/hiring/generateWebhook/PYTHON"
payload = {
    "name": " Ronit jain",
    "regNo": "0827CS221234",
    "email": "ronitjain220526@acropolis.in"
}


response = requests.post(url, json=payload)


if response.status_code == 200:
    data = response.json()
    webhook_url = data['webhook']
    access_token = data['accessToken']
    print(f"Webhook URL: {webhook_url}")
    print(f"Access Token: {access_token}")
else:
    print(f"Error: {response.status_code} - {response.text}")

Webhook URL: https://bfhldevapigw.healthrx.co.in/hiring/testWebhook/PYTHON
Access Token: eyJhbGciOiJIUzI1NiJ9.eyJyZWdObyI6IjA4MjdDUzIyMTIzNCIsIm5hbWUiOiIgUm9uaXQgamFpbiIsImVtYWlsIjoicm9uaXRqYWluMjIwNTI2QGFjcm9wb2xpcy5pbiIsInN1YiI6IndlYmhvb2stdXNlciIsImlhdCI6MTc0Njk2NTQxNCwiZXhwIjoxNzQ2OTY2MzE0fQ.nQDbd755tb_XQMb-q4Jq_Y5C5Klv3r3bakdvcLBo75Y

In [7]:

submit_url = "https://bfhldevapigw.healthrx.co.in/hiring/testWebhook/PYTHON"
headers = {
    "Authorization": access_token,
    "Content-Type": "application/json"
}


final_sql_query = {
    "finalQuery": """
        SELECT
            e1.EMP_ID,
            e1.FIRST_NAME,
            e1.LAST_NAME,
            d.DEPARTMENT_NAME,
            COUNT(e2.EMP_ID) AS YOUNGER_EMPLOYEES_COUNT
        FROM EMPLOYEE e1
        JOIN DEPARTMENT d ON e1.DEPARTMENT = d.DEPARTMENT_ID
        LEFT JOIN EMPLOYEE e2
            ON e1.DEPARTMENT = e2.DEPARTMENT
           AND e1.DOB < e2.DOB
        GROUP BY
            e1.EMP_ID,
            e1.FIRST_NAME,
            e1.LAST_NAME,
            d.DEPARTMENT_NAME
        ORDER BY
            e1.EMP_ID DESC;
    """
}

submit_response = requests.post(submit_url, json=final_sql_query, headers=headers)

if submit_response.status_code == 200:
    print("SQL query submitted successfully!")
else:
    print(f"Error: {submit_response.status_code} - {submit_response.text}")

SQL query submitted successfully!

In [8]:
import pandas as pd
from io import StringIO
import sqlite3

# Set up the in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Create DEPARTMENT table
department_data = StringIO("""
DEPARTMENT_ID,DEPARTMENT_NAME
1,HR
2,Finance
3,Engineering
4,Sales
5,Marketing
6,IT
""")
df_department = pd.read_csv(department_data)
df_department.to_sql('DEPARTMENT', conn, index=False, if_exists='replace')

# Create EMPLOYEE table
employee_data = StringIO("""
EMP_ID,FIRST_NAME,LAST_NAME,DOB,GENDER,DEPARTMENT
1,John,Williams,1980-05-15,Male,3
2,Sarah,Johnson,1990-07-20,Female,2
3,Michael,Smith,1985-02-10,Male,3
4,Emily,Brown,1992-11-30,Female,4
5,David,Jones,1988-09-05,Male,5
6,Olivia,Davis,1995-04-12,Female,1
7,James,Wilson,1983-03-25,Male,6
8,Sophia,Anderson,1991-08-17,Female,4
9,Liam,Miller,1979-12-01,Male,1
10,Emma,Taylor,1993-06-28,Female,5
""")
df_employee = pd.read_csv(employee_data)
df_employee.to_sql('EMPLOYEE', conn, index=False, if_exists='replace')

# Final query to calculate younger employees count
query = """
SELECT
    e1.EMP_ID,
    e1.FIRST_NAME,
    e1.LAST_NAME,
    d.DEPARTMENT_NAME,
    COUNT(e2.EMP_ID) AS YOUNGER_EMPLOYEES_COUNT
FROM
    EMPLOYEE e1
JOIN
    DEPARTMENT d ON e1.DEPARTMENT = d.DEPARTMENT_ID
LEFT JOIN
    EMPLOYEE e2 ON e1.DEPARTMENT = e2.DEPARTMENT
    AND DATE(e2.DOB) > DATE(e1.DOB)
GROUP BY
    e1.EMP_ID, e1.FIRST_NAME, e1.LAST_NAME, d.DEPARTMENT_NAME
ORDER BY
    e1.EMP_ID DESC;
"""

# Execute and display result
result_df = pd.read_sql_query(query, conn)
result_df

   EMP_ID FIRST_NAME LAST_NAME DEPARTMENT_NAME  YOUNGER_EMPLOYEES_COUNT
0      10       Emma    Taylor       Marketing                        0
1       9       Liam    Miller              HR                        1
2       8     Sophia  Anderson           Sales                        1
3       7      James    Wilson              IT                        0
4       6     Olivia     Davis              HR                        0
5       5      David     Jones       Marketing                        1
6       4      Emily     Brown           Sales                        0
7       3    Michael     Smith     Engineering                        0
8       2      Sarah   Johnson         Finance                        0
9       1       John  Williams     Engineering                        1